<div class="task-show">
  <h1 class="task-index__show">タスク詳細</h1>
  <%= flash[:success] %>
  <%= flash[:failed] %>

  <div class="task-show__task">
    <p class="task-show__task--title">
      <%= @task.title %>
    </p>
    <p class="task-show__task--body">
      <%= @task.body %>
    </p>
    <p class="task-show__task--deadline">
      <%= @task.deadline %>
    </p>
    <p class="task-show__task--status">
      <%= @task.status %>
    </p>
    <p class="task-show__task--created_at">
      <%= @task.created_at.to_s(:date_time) %>
    </p>
    <ul class="task-show__task--menu">
      <li class="task-show__task--li">
        <%= link_to "編集", "/tasks/#{@task.id}/edit", method: :get %>
      </li>
      <li class="task-show__task--li">
        <%= link_to "削除", "/tasks/#{@task.id}", method: :delete %>
      </li>
    </ul>
  </div>
</div>